<ion-view view-title="MatchTheFit">
  <ion-content controller="ChatsCtrl">
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="" id="img">

    <button class="button" ng-click="takePicture()">Take Picture</button>
    <button class="button" ng-click="getPhoto()">Open from Gallery</button>
    <button class="button" ng-click="getColors()">Get Color via WRA!</Button>
    <button class="button" ng-click="scrapeJob()">Scrape Job</Button>
      <h4>{{runToken}}</h4>
      <h4>a{{startingURL}}</h4>
      <div ng-repeat = "i in myDatas">
        <a href="{{i.img_url}}"><img ng-src="{{i.img}}" class="pics"></a>
        <h3>{{i.name}}</h3>
        <h5>{{i.price}}</h5>
      </div>
  </ion-content>
</ion-view>
